body {
    color: lightgray;
    background: #2c3037;
    font-family: monospace;
    font-size: 1.2em;
    margin: 1em;
}

.title {
    color: #198ad1;
}

#prompt-char, #command {
    color: lime;
    font-size: 1.2em;
}

#prompt {
    background-color: #2c3037;
    border: 0px;
    font-size: 1em;
    color: lime;
    width: 40%;
    outline: none;
}

form input[type=submit]{
    background: #198ad1;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    line-height: 2.6em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
}

output-msg {
    color: darkgrey;
    font-size: 1.2em;
}

input-msg {
    color: lime;
    font-size: 1.2em;
}

/*room-name*/
rn {
    color: #fff;
    font-weight: bold;
}

/*enum*/
enum {
    font-weight: bold;
    min-width: 30px;
    display: inline-block;
}


/*exit-title*/
et {
    color: #198ad1;
}
/*exit-object*/
eo {
    color: #fff;
}

/*exit-object*/
err {
    color: darkorange;
}

key {
    font-weight: bold;
}